/week01/01/env
/week01/02/env
/week01/02/maoyan/maoyan/__pycache__
/week01/02/maoyan/maoyan/__pycache__
/week01/02/maoyan/maoyan/__pycache__
/week01/02/maoyan/maoyan/__pycache__
/week01/02/maoyan/maoyan/spiders/__pycache__
/week01/02/maoyan/maoyan/spiders/__pycache__
/week*/*/env
/week02/01/maoyan/maoyan/__pycache__
/week02/01/maoyan/maoyan/__pycache__
/week02/01/maoyan/maoyan/__pycache__
/week02/01/maoyan/maoyan/__pycache__
/week02/01/maoyan/maoyan/spiders/__pycache__
/week02/01/maoyan/maoyan/spiders/__pycache__
